body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #4AF626;
}

.header,
.footer {
    background-color: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    padding: 1em;
}

.footer {
    color: #1D1D1D;
}

h1 {
    color: #4AF626;
    font-size: 2.5em;
}

h2 {
    color: #4AF626;
    font-size: 1.5em;
    margin: .5em 0;
}

p {
    font-size: 1em;
}

.outer {
    max-width: 55%;
    padding: 2em;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    background-color: #4AF626;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 8px;
    margin: .5em 0;
}

.disabled {
    background-color: #1D1D1D;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    color: #EAEAEA;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 8px;
    margin: .5em 0;
}

.final {
    color: #4AF626;
    font-weight: 700;
    font-size: 1em;
}
